<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ">
        <a class="nav-link text-light" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/home">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/promotion">Promotion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/home">Explore More</a>
      </li>
    </ul>
    <ul class="navbar-nav d-flex">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink='/cart'> 
          <fa-icon [icon]="faShoppingCart"></fa-icon> 
        </a> 
      </li>
      <li class="nav-item">
        <button class="btn btn-primary ms-2" routerLink='/login'>Login</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary ms-2" routerLink="/register">Register</button>
      </li>
    </ul>
  </div>

</nav>
