<div class="col-lg-12">
  <div class="row">
      <div class="col-md-4" *ngFor="let sp of products">
          <div class="card product-card" (click)="onSelectProduct(sp)" routerLink="/product-detail/:id">
              <img [src]="sp.image" class="card-img-top" alt="Product Image">
              <div class="card-body">
                  <h5 class="card-title">{{ sp.name }}</h5>
                  <p class="card-text">{{ sp.price }}</p>
                  <p class="card-text">{{ sp.description }}</p>
              </div>
          </div>
      </div>
  </div>
</div>


